*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  background-color: aqua;
  background-image: url('https://image.shutterstock.com/shutterstock/photos/555476635/display_1500/stock-vector-vector-seamless-pattern-with-american-fast-food-fun-and-bright-colorful-background-wallpaper-with-555476635.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  align-items: center;
}
.container{
  margin: auto;
   height: 450px;
   width: 400px;
   background-color: white;
   overflow-y: scroll;
}
.card{
  background-color: aqua;
  border-radius: 3px;
  border: black solid 2px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.but{
  display: inline;
}