*{
    padding: 0;
    margin: 0;
}
.maincontainer{
background-image: url('https://wallpapercave.com/wp/wp3669751.gif');
background-size: contain;
height:750px;
}
.master{
   position: absolute;
   height: 420px;
   width: 420px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
   display: flex;
   flex-wrap: wrap;
}
.amber{
    width: 40px;
    height: 40px;
    
    border: 1px solid black;
}
.clicked{
    background-color: grey;
}
.amber:hover{
    opacity: 0.9;
}
.main{
    justify-content: center;
    display: inline;
    display: flex;
}
.left{
    margin-left: 20px;
    
}
