*{
  padding: 0;
  margin: 0;
  
}
.header{
  text-align: center;
  font-size: 25px;
  background-color: rgb(86, 131, 255);
  color: white;
  padding: 5px;
}
.input{
  width:200px ;
  height: 45px;
  font-size: 20px;
  text-align: center;
}
.input-main{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.btn{
  height: 49px;
  width: 70px;
  font-size: 20px;
  text-align: center;
}
img{
  height:500px;
  width: 500px;
  background-color: black;
  border: 3px solid black;
  margin-top: 15px;
}
.image-section{
  display: flex;
  flex-direction: column;
}
/* .head{
  color: white;
  background-color: black;
} */