* {
  padding: 0;
  margin: 0;
  
}
.main{
  background-image: url('https://image.shutterstock.com/shutterstock/photos/555476635/display_1500/stock-vector-vector-seamless-pattern-with-american-fast-food-fun-and-bright-colorful-background-wallpaper-with-555476635.jpg');
}
.heading {
  text-align: center;
  color: aliceblue;
  /* border: 5px black solid; */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 400px;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 2px 3px 9px -1px #000;
}

.content {
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.names {
  display: flex;
  justify-content: space-between;
}